name: EPG Sync

on:
  push:
    branches:
      - main
  schedule:
    - cron: '30 3,17 * * *'

jobs:
  sync-epg-files:
    name: Sync EPG Files
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download EPG files
        run: |
          # Remove existing epg files
          rm -f pp.xml pp.xml.gz pw.xml pw.xml.gz

          # Downloading erw.cc EPG files
          echo "Downloading erw.cc EPG files..."
          wget -q https://raw.githubusercontent.com/kuke31/xmlgz/main/cc.xml.gz -O pp.xml.gz || { echo "Failed to download erw.cc epg file"; exit 1; }

          # Downloading epg.pw EPG files
          echo "Downloading epg.pw EPG files..."
          wget -q https://epg.pw/xmltv/epg_CN.xml.gz -O pw.xml.gz || { echo "Failed to download epg.pw epg file"; exit 1; }

      - name: Extract the xml.gz file
        run: |
          gunzip -k pp.xml.gz || { echo "Failed to Extract pp.xml.gz file"; exit 1; }
          gunzip -k pw.xml.gz || { echo "Failed to Extract pw.xml.gz file"; exit 1; }

      - name: Confirm document list
        run: |
          echo "Confirm document list..."
          for file in pp.xml pp.xml.gz pw.xml pw.xml.gz; do
            if [ ! -s "$file" ]; then
              echo "Error: $file is empty or not downloaded"
              exit 1
            fi
          done
          
          echo "All EPG files downloaded successfully!"

      - name: Commit and push changes
        run: |
          
          # Configure Git
          git config --local user.name "GitHub Actions Bot"
          git config --local user.email "actions@github.com"
          
          # Commit changes
          git add pp.xml pp.xml.gz pw.xml pw.xml.gz
          git commit -m "chore: auto sync EPG files [skip ci]"
          
          # Push changes
          git push
